@model Udemy_Spice_MVC.Models.ViewModels.SubcategoryAndCategoryViewModel
@using Udemy_Spice_MVC.Extensions
@{
    ViewData["Title"] = "Create Sub-Category";
}

<br />
<h2 class="text-info">Create Sub-Category</h2>
<br />

<partial name="_StatusMessage" model="Model.statusMessage" />

<div class="border backgroundWhite row">
    <div class="col-8 border-right">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="subcategory.category_id" class="col-form-label">Category Name</label>
                </div>
                <div class="col-5">
                    <select id="ddlCategorylist"
                            asp-for="subcategory.category_id"
                            asp-items="Model.categoryList.ToSelectListItem(Model.subcategory.category_id)"
                            class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="subcategory.name" class="col-form-label">Category Name</label>
                </div>
                <div class="col-5">
                    <input asp-for="subcategory.name" class="form-control"></input>
                </div>
                <span asp-validation-for="subcategory.name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-3">
                    <partial name="_CreateAndBackToListButtonPartial" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-3 offset-1">
        @if (Model.subcategoryList.Count() > 0)
        {
            <p> Existing Subcategories:  </p>

            <div id="SubcategoryList">
                <ul class="list-group"></ul>
            </div>
        }
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function updateSubCategoryList() {
            var categorySelected = document.getElementById("ddlCategorylist").value;
            $list = $('#SubcategoryList');
            $.ajax({
                url: '/Admin/SubCategory/GetSubCategory/' + categorySelected,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append(' <ul class="list-group"> ');
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>');
                    }
                    $list.append('</ul>');
                }
            });
        }
        $(document).ready(function () {
            updateSubCategoryList();
        });
        $("#ddlCategorylist").on("change", function () {
            updateSubCategoryList();
        });
    </script>


}
