@model Udemy_Spice_MVC.Models.ShoppingCart
@using Udemy_Spice_MVC.Extensions
@{
    ViewData["Title"] = @Model.menu_item.name + " Details";
}

<br />
<h2 class="text-info">Item Details</h2>
<br />

<form method="post">
    <div class="border backgroundWhite row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12 pb-4 d-md-none">
            <img src="@Model.menu_item.image"
                 width="100%"
                 style="
                        border-radius:5px;
                        border: 1px solid #bbb9b9;" />
        </div>
        <div class="col-md-8">
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="menu_item.name" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input readonly asp-for="menu_item.name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="menu_item.description" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <div class="border p-2">
                        @Html.Raw(Model.menu_item.description)
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="menu_item.price" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input readonly asp-for="menu_item.price" class="form-control" />
                </div>
                <span asp-validation-for="menu_item.price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="menu_item.category_id" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input readonly asp-for="menu_item.category.name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="menu_item.subcategory_id" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input readonly asp-for="menu_item.subcategory.name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="menu_item.spicyness" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <select asp-for="menu_item.spicyness"
                            asp-items="Html.GetEnumSelectList<MenuItem.e_spicy>()"
                            class="form-control"
                            disabled></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="count" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="count" class="form-control" />
                    <span asp-validation-for="count" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
                <div class="col-md-4">
                    <button type="submit" value="Add to Cart" class="btn btn-primary form-control">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-4 d-none d-md-block">
            <img src="@Model.menu_item.image"
                 style="
                        border-radius:5px;
                        border: 1px solid #bbb9b9;
                        width: 25vw" />
        </div>
    </div>
    <input asp-for="menu_item_id" hidden />
</form>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

