@model Udemy_Spice_MVC.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home";
}

<br />

@if (Model.coupon.ToList().Count > 0)
{
    <div class="border">
        <div class="carousel" data-ride="carousel" data-interval="2500">
            @for (int i = 0; i < Model.coupon.Count(); i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        @{
                            var base64 = Convert.ToBase64String(Model.coupon.ToList()[i].picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }
                        <img src="@imgsrc" height="50px" class="d-block w-100" />
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        @{
                            var base64 = Convert.ToBase64String(Model.coupon.ToList()[i].picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }
                        <img src="@imgsrc" height="50px" class="d-block w-100" />
                    </div>
                }
            }
        </div>
    </div>

}

<br />
<br />

<div class="backgroundWhite container">

    <ul id="menu-filters" class="menu-filter-list list-inline text-center">
        <li class="active btn btn-secondary ml-1 mr-1" data-filter=".menu-restaurant">Show All</li><!-- data-filter will be used by jquery using filter word -->

        @foreach (var item in Model.category)
        {
            <li class="ml-1 mr-1" data-filter=".@item.name.Replace(" ",string.Empty)">@item.name</li>
        }
    </ul>


    @foreach (var category in Model.category)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_ThumbnailAreaPartial" model="@Model.menuItem.Where(u=>u.category.name.Equals(category.name))" />
        </div>
    }
</div>


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <script>

        var posts = $('.post');

        (function ($) {

            $("#menu-filters li").click(function () {
                $("#menu-filters li").removeClass('active btn btn-secondary');
                $(this).addClass('active btn btn-secondary');

                var selectedFilter = $(this).data("filter");

                $(".menu-restaurant").fadeOut();//fades out all menu-restaurant class objects

                setTimeout(function () {
                    $(selectedFilter).slideDown();//after fading out, slides down all the objects whit the selectedFilter class
                }, 300);
            });



        })(jQuery);

    </script>
}